.header{
    display: flex;
}
.header1{
    flex: 20%;
    padding: 10px;
}
.header2{
 
    flex: 20%;
   
}
.header3{
 
    flex: 20%;
 
}
.header4{
    
    display: flex;
    flex: 40%;
    
}
.conatiner{
    margin: 50px;
}
button{
    margin: 10px;
    padding: 5px 10px ;
}

